<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName"><br>

  <button type="button" (click)="updateName()">Update Name</button>

  <div formGroupName="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>


  <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of getAliases().controls; let i=index"> -->
      <!-- The repeated alias template -->
      <!-- <label for="alias-{{ i }}">Alias:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i">
    </div>
  </div>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>
<button type="button" (click)="updateProfile()">Update Profile</button> -->


<!-- /* VERSIONE 2 */ -->

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="userName">Username*:</label>
      <input id="userName" type="text" formControlName="userName">
    </div>
    <div>
      <label for="email">E-mail*:</label>
      <input id="email" type="text" formControlName="email">
    </div>
    <div>
      <label for="password">Password*:</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div>
      <label for="country">Country:</label>
      <input id="country" type="text" formControlName="country">
    </div>
    <div>
      <label for="yob">Year of Birth*:</label>
      <input id="yob" type="number" formControlName="yob">
    </div>
    <!-- <div>
      <label for="gender">Gender:</label>
      <input id="gender" type="text" formControlName="gender">
    </div> -->

    <div>
      <label for="gender">Gender:</label>
        <select formControlName="gender">
          <option value="">male</option>
          <option value="">female</option>
          <option value="">other</option>
          <option value="">non mi riconosco in nessuno dei precedenti</option>
        </select>
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber">
    </div>

  <button type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>
